<launch>
  <node type="usb_cam_node" pkg="usb_cam" name="robot_camera" output="log">
    <param name="framerate" value="5"/>
    <param name="camera_name" value="robot_camera"/>
    <param name="camera_frame_id" value="robot_camera"/>
  </node>
  <node type="weathercock_detector.py" pkg="aruco_to_pose" name="weathercock_detector_node" output="screen">
    <param name="roe/min/x" value="1"/>
    <param name="roe/min/y" value="1"/>
    <param name="roe/min/t" value="0"/>
    <param name="roe/max/x" value="2"/>
    <param name="roe/max/y" value="2"/>
    <param name="roe/max/t" value="3.14"/>
    <param name="weathercock_stabilisation_time" value="30">
  </node>
</launch>
